* {
	box-sizing: border-box;
	margin: 0;
}

nav {
	height: 80px; 
	width: 100%;
	background-color: #05CDFF;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2%;
	padding-right: 2%;
}

#nav-add, #nav-update, #nav-delete {
	position: relative;
	left: 50%;
	display: flex;
	align-items: center;
	font-size: 40px;
	padding-left: 2%;
	font-family: 'Righteous', cursive;
}

.title {	
	font-size: 50px;
	font-family: 'Righteous', cursive;
}

.deadlift-img {
	background-image: url('deadlift.jpg'); 
	height: 1000px;
	width: 70%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

.muscle-groups {
	width: 30%;
	height:1000px;
	float: left;
	font-size: 30px;
	font-family: 'Righteous', cursive;
}

.biceps, .triceps, .chest, .quads, .calves, .traps, .lats, .hamstrings {
	font-family: 'Righteous', cursive;
	padding: 30px; 
	border: solid 1px #05CDFF;
}

.warning-on {
    margin-top: 15px;
    text-align: center;
    color: red;
    background-color: white;
    font-weight: bold;
    font-size: 30px;
}

.login-bg, .signup-bg {
	background: #07A8C3;
	background: linear-gradient(to right bottom, #07A8C3 60%, #212531 40%);
	min-height: 100vh;
}

#login-wrapper, #signup-wrapper {
	display: flex;
	flex-direction: column;
	background: #07A8C3;
	align-items: center;
	padding-top: 10%;
	height: 400px;
	margin-right: 25%;
	margin-left:25%;
}

.login-heading, .signup-heading {
	color: white;
	border-bottom: solid 1px white;
	text-align: center;	
	font-family: 'Righteous', cursive;
	font-size: 75px;
	text-shadow: 4px 1px black, 0 2px black, 2px 0 black, 0 -1px black;
	padding-bottom: 10px;
	margin-bottom: 25px;
}

.login-subheading {
	color: white;
	text-align: center;	
	font-family: 'Righteous', cursive;
	font-size: 45px;
	text-shadow: 4px 1px black, 0 2px black, 2px 0 black, 0 -1px black;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#username, #password, #firstName, #lastName {
	width: 400px;
	height: 70px;
	margin-bottom: 10px;
	font-size: 30px;
	padding-left: 15px;
}

.register-btn, .login-btn, .submit-btn, .back-btn {
	height: 60px;
	width: 40%;
	font-size: 30px;
	font-family: 'Righteous', cursive;
	border-radius: 5px;
	margin-left: 13px;
	margin-right: 13px;
}

.login-btns, .signup-btns {
	display: flex;
	justify-content: center;
}

.warning-on {
    margin-top: 15px;
    text-align: center;
    color: #ec0202;
    background-color: #fff;
    font-weight: bold;
    font-size: 22px;
}