* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

nav {
	height: 80px; 
	width: 100%;
	background-color: #05CDFF;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2%;
	padding-right: 2%;
}

#nav-add, #nav-update, #nav-delete {
	position: relative;
	left: 50%;
	display: flex;
	align-items: center;
	font-size: 40px;
	padding-left: 2%;
	font-family: 'Righteous', cursive;
}

.title {
	font-size: 50px;
	font-family: 'Righteous', cursive;
}

.deadlift-img {
	background-image: url('./deadlift.jpg'); 
	height: 1000px;
	width: 70%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

.muscle-groups {
	width: 30%;
	height:1000px;
	float: left;
	font-size: 30px;
	font-family: 'Righteous', cursive;
}

.biceps, .triceps, .chest, .quads, .calves, .traps, .lats, .hamstrings {
	font-family: 'Righteous', cursive;
	padding: 30px; 
	border: solid 1px #05CDFF;

	
}
