* {
	box-sizing: border-box;
	margin: 0;
}

/*home page*/
nav {
	height: 80px; 
	width: 100%;
	background-color: #05CDFF;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2%;
	padding-right: 2%;
}

#nav-add, #nav-update, #nav-delete {
	position: relative;
	left: 50%;
	display: flex;
	align-items: center;
	font-size: 40px;
	padding-left: 2%;
	font-family: 'Righteous', cursive;
}

.title {	
	font-size: 50px;
	font-family: 'Righteous', cursive;
}

.deadlift-img {
	background-image: url('./deadlift.jpg'); 
	height: 1000px;
	width: 70%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

.muscle-groups {
	width: 30%;
	height:1000px;
	float: left;
	font-size: 30px;
	font-family: 'Righteous', cursive;
}

.biceps, .triceps, .chest, .quads, .calves, .traps, .lats, .hamstrings {
	font-family: 'Righteous', cursive;
	padding: 30px; 
	border: solid 1px #05CDFF;
}

/*login page*/
.login-bg {
	background: #07A8C3;
	background: linear-gradient(to right bottom, #07A8C3 60%, #212531 40%);
	min-height: 100vh;
	
}

#login-wrapper {
	display: flex;
	flex-direction: column;
	background: #07A8C3;
	align-items: center;
	justify-content: center;
	padding-top: 10%;
	padding-left: 20%;
	padding-right: 20%;
	height: 400px;
	margin-right: 20%;
	margin-left:20%;
}

.login-heading {
	color: white;
	border-bottom: solid 1px white;
	text-align: center;	
	font-family: 'Righteous', cursive;
	font-size: 70px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

#username, #password {
	width: 400px;
	height: 70px;
	margin-bottom: 10px;
	font-size: 30px;
	padding-left: 15px;
}

.back-btn-lg, .login-btn-lg {
	height: 60px;
	width: 40%;
	font-size: 30px;
	font-family: 'Righteous', cursive;
	margin-left: 13px;
	margin-right: 13px;
}

.login-btns {
	display: flex;
	justify-content: center;
}
